.fontTransparent {
    -unity-font-definition: url('project://database/Assets/Fonts/Comic%20Sans%20MS%20SDF.asset?fileID=11400000&guid=1f1e0774add55da4f83a7cd90d47cfa4&type=2#Comic Sans MS SDF');
    color: rgb(226, 183, 255);
}

.font {
    -unity-font-definition: url('project://database/Assets/Fonts/Comic%20Sans%20MS%20SDF.asset?fileID=11400000&guid=1f1e0774add55da4f83a7cd90d47cfa4&type=2#Comic Sans MS SDF');
    color: rgb(159, 14, 255);
}
